anthropic
fastapi
filelock
langdetect
llama-cpp-python
mcp
numpy
nvgpu
openai
opencv-python-headless
pdf2image
pillow
pytesseract
python-decouple
python-multipart
ruff
scikit-learn
tiktoken
transformers
uvicorn